@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
}

@layer utilities {
  .bg-login-image {
    background-image: url('/images/sunset.jpg');
  }

  .font-permanent_marker {
    font-family: var(--font-permanent-marker);
  }

  .font-hind {
    font-family: var(--font-hind);
  }

  .font-montserrat {
    font-family: var(--font-montserrat);
  }
}

html {
  font-family: var(--font-montserrat);
}

p {
  font-family: var(--font-hind);
}

@layer base {
  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-medium;
  }
  h4 {
    @apply text-xl font-medium;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
}
